<link rel="stylesheet" href="/css/modules/profile.css">
<div id="i1" class="p1" style="display: none;">
    <div class="loader p21" align="center">
        <link rel="stylesheet" href="<%= cdn_host %>/scpsl.store/css/profile_loader.css">
        <div class="ll">
            <div class="arc"></div>
            <div class="arc"></div>
            <div class="arc"></div>
        </div>
    </div>
    <div class="p2" style="display: none;">
        <div class="p3" aria-label="Web" role="dialog" tabindex="-1" aria-modal="true">
            <div class="p4">
                <div class="p5" id="i4"></div>
                <div class="p6">
                    <div class="p7" id="i5"></div>
                    <div class="p8">
                        <div class="p9">
                            <span class="p10" id="i3"></span>
                            <div class="p17">
                                <a class="p18" id="i7">
                                    <span class="p19" id="i8"></span>
                                    <div class="p20" id="i9"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p11" role="button" tabindex="0" id="i6">
                    <div class="p12" role="img" aria-label="Web" aria-hidden="false">
                        <svg width="92" height="80" viewBox="0 0 92 80" class="p13" aria-hidden="true">
                            <foreignObject class="p14" x="0" y="0" width="80" height="80" mask="url(#svg-mask-avatar-default)">
                                <div class="p15">
                                    <img id="i2" alt=" " class="p16" aria-hidden="true" onerror="this.src = '<%= cdn_host %>/scpsl.store/users/avatars/unknow.png';">
                                </div>
                            </foreignObject>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="<%= cdn_host %>/scpsl.store/js/rgbaster.min.js"></script>
<link rel="stylesheet" href="<%= cdn_host %>/scpsl.store/css/tippy.animations.scale.css"/>
<link rel="stylesheet" href="<%= cdn_host %>/scpsl.store/css/tippy.animations.perspective.css"/>
<link rel="stylesheet" href="<%= cdn_host %>/scpsl.store/css/tippy.themes.translucent.css"/>
<script src="<%= cdn_host %>/scpsl.store/js/popper.min.js"></script>
<script src="<%= cdn_host %>/scpsl.store/js/tippy-bundle.umd.js"></script>
<script src="/js/modules/profile.js"></script>