<!DOCTYPE html>
<html lang="ru">
    <head>
        <%- include('../modules/meta', {embedName:'fydne', metaTitle:'fydne | Бусты', metaDesc:'Бусты'}) %>
        <link href="<%= cdn_host %>/scpsl.store/css/app.min.css" rel="stylesheet" type="text/css">
        <link href="<%= cdn_host %>/scpsl.store/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/css/etc/settings.css" rel="stylesheet" type="text/css">
        <link href="/css/etc/achievements.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/custom_style.css?fix=.css">
        <link rel="stylesheet" href="<%= cdn_host %>/scpsl.store/css/font-awesome.min.css">
    </head>
    <body class="topbar-dark left-side-menu-dark pace-done">
        <%- include('../modules/socketInit') %>
        <div id="wrapper">
            <%- include('../modules/header') %>
            <%- include('../modules/panel') %>
            <div class="content-page">
                <div class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-header">Создать Буст</div>
                                    <br>
                                    <input class="inptname" type="text" id="name_bst" maxlength="25" placeholder="Название">
                                    <br>
                                    <input class="inptname" type="text" id="sum_bst" maxlength="4" placeholder="Сумма">
                                    <br>
                                    <input id="f1" type="file" multiple="" accept=".jpg,.jpeg,.png,.webp" aria-label="Изменить аватар">
                                    <div class="col-12">
                                        <button id="send_bst" class="btn btn-bordred-success mt-1 mb-2">Создать</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-header">Бусты</div>
                                    <br>
                                    <div style="max-height: 447px !important; max-width: 500px !important; overflow:auto;">
                                    <% boosts.forEach(function(boost) { %>
                                        <div class="col-md-12 col-md-auto bypass_col">
                                            <div class="card-box card-border">
                                                <div class="row">
                                                    <div class="cell col-3">
                                                        <div style="margin-top:2px">
                                                            <div class="rounded-circle" style="background-image: url('<%= boost.img %>');"></div>
                                                        </div>
                                                    </div>
                                                    <div class="cell col-8"><span><%= boost.name %></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    <% }); %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('../modules/invite') %>
        <script src="<%= cdn_host %>/scpsl.store/js/jquery/jquery.min.js"></script>
        <script src="<%= cdn_host %>/scpsl.store/js/slimscroll.min.js"></script>
        <script src="<%= cdn_host %>/scpsl.store/js/app.js"></script>
        <script src="/js/etc/boosts.js"></script>
    </body>
</html>