<!DOCTYPE html>
<html lang="ru">
  <head>
    <%- include('../../modules/meta', {embedName:'fydne', metaTitle:'fydne | Ограничения донатеров', metaDesc:'Ограничения донатеров'}) %>
    <link rel="stylesheet" href="/css/donate/ra_three.css">
    <link rel="stylesheet" href="/css/donate/ra_two.css">
    <link rel="stylesheet" href="/css/main.css">
    <link href="<%= cdn_host %>/scpsl.store/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="<%= cdn_host %>/scpsl.store/css/app.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="<%= cdn_host %>/scpsl.store/css/font-awesome.min.css">
    </head>
    <body style="padding-bottom: 0px !important;">
        <%- include('index') %>
        <script src="/js/etc/rules_frame.js"></script>
    </body>
</html>